flows-azure.json
[{"id":"c0970a96.70f418","type":"tab","label":"Azure_Flow","disabled":false,"info":""},{"id":"c1d76010.25544","type":"ncd-gateway-node","z":"c0970a96.70f418","name":"","connection":"37b926d5.68488a","unknown_devices":0,"outputs":1,"x":110,"y":160,"wires":[["2e808a9e.6357d6","51f00d8e.f7426c"]]},{"id":"2e808a9e.6357d6","type":"debug","z":"c0970a96.70f418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":120,"wires":[]},{"id":"51f00d8e.f7426c","type":"switch","z":"c0970a96.70f418","name":"","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:41:c3:d0:e0","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:a4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":200,"wires":[["2ba77537.0605da","8d39d03f.1d5d18","ede7cc63.cbecc"],["ede7cc63.cbecc"]]},{"id":"2ba77537.0605da","type":"change","z":"c0970a96.70f418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["64a68262.38449c"]]},{"id":"64a68262.38449c","type":"ui_gauge","z":"c0970a96.70f418","name":"","group":"8855ebd4.4e5d08","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":160,"wires":[]},{"id":"8d39d03f.1d5d18","type":"change","z":"c0970a96.70f418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[["61763f1.43caec"]]},{"id":"61763f1.43caec","type":"ui_gauge","z":"c0970a96.70f418","name":"","group":"8855ebd4.4e5d08","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":200,"wires":[]},{"id":"ede7cc63.cbecc","type":"function","z":"c0970a96.70f418","name":"","func":"var nwMSG = {\"payload\":{}};\nnwMSG.payload.deviceId = \"NodeRed\";\nnwMSG.payload.key = \"ClLsyO3AQX/7Q7VbU2LD8cyEdFJVPfrZ37akIe8QW3Q=\";\nnwMSG.payload.protocol = \"mqtt\";\nnwMSG.payload.data = msg.payload.sensor_data;\nreturn nwMSG;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["ef328f72.08d6e"]]},{"id":"de59990e.b82708","type":"azureiothub","z":"c0970a96.70f418","name":"Azure IoT Hub","protocol":"mqtt","x":760,"y":240,"wires":[[]]},{"id":"ef328f72.08d6e","type":"debug","z":"c0970a96.70f418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"dfb430ce.15a5e","type":"inject","z":"c0970a96.70f418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.29\",\"battery_percent\":\"99.64\",\"counter\":244,\"sensor_type\":82,\"sensor_data\":{\"mode\":0,\"odr\":\"800Hz\",\"temperature\":26.6,\"Ext_temperature\":0,\"Current\":0,\"x_rms_ACC_G\":0,\"x_max_ACC_G\":0,\"x_velocity_mm_sec\":0,\"x_displacement_mm\":0,\"x_peak_one_Hz\":0,\"x_peak_two_Hz\":0,\"x_peak_three_Hz\":0,\"y_rms_ACC_G\":0,\"y_max_ACC_G\":0,\"y_velocity_mm_sec\":0,\"y_displacement_mm\":0,\"y_peak_one_Hz\":0,\"y_peak_two_Hz\":0,\"y_peak_three_Hz\":0,\"z_rms_ACC_G\":0,\"z_max_ACC_G\":0,\"z_velocity_mm_sec\":0,\"z_displacement_mm\":0,\"z_peak_one_Hz\":0,\"z_peak_two_Hz\":0,\"z_peak_three_Hz\":0},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:41:c3:d0:a4\",\"received\":1657139125625,\"original\":{\"mac\":\"00:13:a2:00:41:c3:d0:a4\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,2,3,255,244,0,82,0,0,10,10,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":150,"y":200,"wires":[["51f00d8e.f7426c"]]},{"id":"37b926d5.68488a","type":"ncd-gateway-config","z":"","name":"USBModem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttyUSB0","baudRate":"115200","pan_id":"7FFF","rssi":false},{"id":"8855ebd4.4e5d08","type":"ui_group","z":"","name":"Temp_Hum Sensor","tab":"553492e9.8bac5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"553492e9.8bac5c","type":"ui_tab","z":"","name":"Office","icon":"dashboard","disabled":false,"hidden":false}]